* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    
}

#hero{
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /*height: 80vh;*/

    color: white;
    background-image: linear-gradient(
        100deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,5)
    )
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project h2 {
    margin-bottom: 1rem;
    color: #333;
}

.project p {
    color: #666;
}

.sheet-section {
    width: 100%;
    overflow: hidden;
}

.responsive-sheet {
    width: 100%;
    height: 0;
    padding-bottom: 30%; /* Ajusta esta proporción según tu widget */
    position: relative;
    margin-top: 2rem;
}

.responsive-sheet iframe {
    position: absolute;
    width: 100%;
    height: auto;
    border: none;
    top: 0;
    left: 0;
}

